.bbg{
  background: url("/static/images/default_bg.jpg");
  background-size: cover;
  height: 100vh;
}

.bg{
  background: url("/static/images/default_bg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.heading {
  color: lightseagreen;
  font-size: 50px;
}

.container {
  margin: 0px 100px;
}

.w-message {
  font-size: 200%;
  color: seagreen;
}


.b-attend:hover {
  background-color: darkturquoise;
  transition-duration: 2s;
}
