{% extends 'base.html' %}
{% block content %}

 <div class="bg">
  <h1 class="text-center heading">Attendance Facial Recognition System</h1>
  <div class="container">
   <p class="w-message">By clicking the button below you will be marked present!</p>
 
   <form action="" method="POST">
     {% csrf_token %}
     <button type="submit" class="rounded-pill btn btn-outline-success">CHECK IN <i class="fa-solid fa-check-to-slot"></i>
     </button>
   </form>
 
     {% if status == 2 %}
     <p class="text-danger">Sorry,You cannot mark attendance twice in a day</p>
     {% endif %}
 
     {% if status == 3 %}
     <p class="text-success">Your account has been created successfully</p>
     {% endif %}
 
     {% if status == 0 %}
     <p class="text-danger">You have to login first!</p>
     <a href="/accounts/login">LOGIN</a>
     <a href="/accounts/register/">Register</a>
     {% endif %}
  </div>
 </div>
  
{% endblock%}